@font-face {
  font-family: 'Alagard';
  src: url('font/alagard.ttf') format('opentype');
}

@font-face {
  font-family: '8-bit Arcade In'; 
  src: url('font/8-bit Arcade In.ttf') format('opentype'); 
}

body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #70c5ce;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url('img/fundo.jpg') repeat-y;
  background-size: cover;
}

#morcego {
  position: absolute;
  width: 80px;
  height: 80px;
  background: url('img/morcego.gif') no-repeat center center;
  background-size: cover;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 10;
  filter: drop-shadow(0px 0px 5px #cecece);
}

.pipe {
  position: absolute;
  width: 5vw;
  height: 30vh;
  background: linear-gradient(45deg, #aad8e6 25%, #a0c9de 25%, #a0c9de 75%, #aad8e6 75%, #aad8e6),
              linear-gradient(to bottom, #aad8e6 50%, #a0c9de 50%);
  background-size: 20px 20px, 100% 100%;
  left: 0;
  animation: movePipe 4s linear infinite;
  z-index: 5;
  border-radius: 20px;
  border: 2px solid grey;
}

.pipe.left {
  right: auto;
  left: 0;
}

.pipe.paused {
  animation-play-state: paused;
}

#score {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: #FDDC00;
  font-family: 'Alagard', Arial, sans-serif;
  z-index: 15;
  text-shadow: 2px 2px 7px #494949;
}

@keyframes deflate {
  0% { transform: translate(-50%) scale(1.5); }
  100% { transform: translate(-50%) scale(1); }
}

#score.deflate {
  animation: deflate 0.2s forwards;
}

@keyframes movePipe {
  from {
    top: 100%;
  }
  to {
    top: -30vh;
  }
}

#initial-screen,
#death-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'alagard', Arial, sans-serif;
  font-size: 24px;
  z-index: 20;
  text-shadow: 2px 2px 7px #000000;
}

#death-screen {
  display: none;
}

#initial-screen img {
  width: 50vw;
  height: auto;
  margin-bottom: 20px;
  position: relative;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

#initial-screen p {
  animation: blink 1s infinite;
}

#death-screen h2 {
  color: #FDDC00; 
  margin-top: 10px;
}

#death-screen p {
  animation: blink 1s infinite;
}

#record {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #FDDC00;
  font-family: 'Alagard', Arial, sans-serif;
  z-index: 15;
  text-shadow: 2px 2px 7px #494949;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#initial-record {
  font-size: 24px;
  color: #FDDC00;
  font-family: 'Alagard', Arial, sans-serif;
  z-index: 15;
  text-shadow: 2px 2px 7px #494949;
  font-size: 3rem;
  animation: none !important;
  margin-top: -30px;
}